#test_div  {
    color: blue;
}

.red {
    color: red;
}

div {
    color: pink;
    text-align: center;
    text-decoration: underline overline line-through none;
}

* {
    color: black;
}

p {
    font: italic 700 20px "Microsoft YaHei";
    color: #29D794;
    text-indent: 2em;
    line-height: 50px;
}

a {
    text-decoration: none;
}